body {
  background-color: #121214;
  color: #F5F6F7;
  font-family: system-ui;
  padding: 0;
  margin: 0;
  -webkit-user-select: text;
}

::selection {
    background-color: #861f87;    
}

defaultMessage {
  font-family: monospace;
  color: #333 !important;
}

hot {
  color: transparent;  
  text-shadow: 0 0 0 #333;
}

pre {
  padding: 1em;
  margin: 0;
  border-top: 1pt solid #393D41;
}

.title {
  padding: 10pt;
  width: 100%;
  font-size: 11pt;
  color: #F5F6F7;
}

.container {
  margin: 0pt;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.split {
  overflow: auto;
  height: auto;
  width: 50%;
  top: 0;
  -webkit-overflow-scrolling: touch;
}

.split::-webkit-scrollbar {
    display: none;
}

.left {
  left: 0;
  border-right: 1pt solid #393D41;
}

.right {
  right: 0;
}

.hljs {
  display: block;
  padding: 0.5em;
  color: #F5F6F7;
  font-size: 10pt;
  line-height: 16pt;
}

.hljs-comment,
.hljs-quote {
  color: #8F8F8F;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #09CEA1;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #FF439C;
}

.hljs-string,
.hljs-doctag {
  color: #FF0057;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #8916BE;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #B769FC;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #53A8C1;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #1223C8;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
